<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Integrate Locations, All Around The Sri Lanka Easily To Your App"/>

    <meta name="keywords" content="API, api, sri lanka, location api, locations, location service"/>

    <meta name="rating" content="general"/>

    <meta name="expires" content="never"/>

    <meta name="author" content="Pasindu Senarathne"/>

    <meta name="copyright" content="2020-2021"/>

    <meta property="og:title" content="Locate Sri Lanka - Public Api For Developers"/>

    <meta property="og:type" content="article"/>

    <meta property="og:url" content="https://locatesrilanka.herokuapp.com"/>

    <meta property="og:image" content="images/OG.png"/>

    <meta property="og:site_name" content="locatesrilanka.herokuapp.com"/>

    <meta property="og:description" content="Integrate Locations, All Around The Sri Lanka Easily To Your App"/>

    <meta property="twitter:title" content="Locate Sri Lanka - Public Api For Developers"/>

    <meta property="twitter:type" content="article"/>

    <meta property="twitter:url" content="https://locatesrilanka.herokuapp.com"/>

    <meta property="twitter:image" content="images/OG.png"/>

    <meta property="twitter:site_name" content="locatesrilanka.herokuapp.com"/>

    <meta property="twitter:description" content="Integrate Locations, All Around The Sri Lanka Easily To Your App"/>

    <meta http-equiv="Content-type" name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0, width=device-width">  

    <title>LocateSriLanka</title>
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
        crossorigin="anonymous"
    >
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="container content">
        <div class="container" style="">
            <img src="images/PinClipart.com_recreational-vehicle-clip-art_3227183.png" alt="img" class="img-fluid" style="margin: 2rem;display: block;
            margin-left: auto;
            margin-right: auto;
            width: 90%;">
        </div>
        <div class="text-main text-center">
            <h1>Integrate Locations, All Around The <span style="color: orange;">S</span><span style="color: forestgreen;">ri</span> <span style="color: red;">Lank</span><span style="color: #ffcc00;">a</span> Easily To Your App </h1>
            <h5 style="color:#8c8c8c">You can use Sri Lanka Location API to your applications for free and it enable to access location data through simple URLs</h5>
        </div>
        <div>
            <a href="https://github.com/PasinduS96/location-api-sl/blob/master/README.md" class="styled-text btn btn-lg btn-outline-success" style="margin: 1rem; padding: 1.2rem;"><i class="fa fa-book" aria-hidden="true"></i> API Documantation</a>
            <a href="https://github.com/PasinduS96/location-api-sl" class="styled-text btn btn-lg btn-outline-dark" style="margin: 1rem;padding: 1.2rem;"><i class="fa fa-github" aria-hidden="true"></i>  View Repository</a>
        </div>
    </div>
</body>
</html